<% form_tag new_filter_path, :method => "get" do %>
  <%= label_tag "url", "Feed URL" %>: <%= text_field_tag "url", params[:url], :size => 80 %>
  <button>new</button>
<% end %> 

<h2>Latest updated filters</h2>
<ul>
<% @filters.each do |filter| %>
  <li>
    <%= link_to h(filter.title), filter_path(filter) %>
    <%= link_to image_tag("feedicons/14x14.png"), feed_filter_path(filter) %>
    (by <%= h filter.user.name %>)
  </li>
<% end %>
</ul>
