<%= flash[:error] %>
<% form_tag feed_path, :method => "get" do %>
  <%= label_tag "src", "Source URI" %>: <%= text_field_tag "src", params[:src], :size => 80 %>
  <br/>
  <%= label_tag "rdf_about", "rdf:about" %> contains <%= text_field_tag "rdf_about", params[:rdf_about] %>
  <br/>
  <button>feed</button>
<% end %> 
