<% content_for :auto_discovery_links do %>
  <%= auto_discovery_link_tag :atom, latest_filters_url, :title => "Latest filters" %>
<% end %>

<% form_tag new_filter_path, :method => "get" do %>
  <%= label_tag "url", "Feed URL" %> : <%= text_field_tag "url", params[:url], :size => 80, :placeholder => "Enter any RSS or Atom URL to be filtered" %><!-- TOOD: placeholder is effective only some browser like Safari. Mootool.js has a portable implementation, but may confilict with prototype.js... -->
  <button>new</button>
<% end %>

<hr/>

<div class="span-9">
  <h2>Latest filters <%= link_to image_tag("feedicons/28x28.png"), latest_filters_path %></h2>
  <ul>
  <% @latest_filters.each do |filter| %>
    <li>
      <%= link_to h(filter.title), filter_path(filter) %>
      <%= subscription_link filter %>
      by <%= user_name filter.user %> (<span title="<%= filter.updated_at %>"><%= time_ago_in_words filter.created_at %> ago</span>)
    </li>
  <% end %>
  </ul>
</div>

<div class="span-9 last">
  <h2>Popular filters <span class="small quiet">(in 24h)</span></h2>
  <ul>
  <% @popular_filters.each do |filter| %>
    <li>
      <%= link_to h(filter.title), filter_path(filter) %>
      <%= subscription_link filter %>
      by <%= user_name filter.user %> (<%= filter.subscription_count %> subscriptions)
    </li>
  <% end %>
  </ul>
</div>
