<% form_tag "", :method => "get", :id => "filter_form" do %>
  <div>
    <%= label_tag "url", "Feed URL" %>: <%= text_field_tag "url", filter_params[:url], :size => 80, :readonly => true %>
  </div>
  <div id="filter_fields">
    <% filter_params.except(:url).each_with_index do |pair, index| %>
      <%= render :partial => "filter_field", :object => {pair.first => pair.last}, :locals => {:index => index} %>
    <% end %>
  </div>
  <div>
    <button type="button" onclick="add_filter_field();">add condition</button>
    <% javascript_tag do %>
      var FilterField = {
        nextIndex: function() {
          return $$(".filter_field").length;
        },
        getIndex: function(dom) {
          return dom.id.split("_").last();
        }
      };
      function add_filter_field() {
        var index = FilterField.nextIndex();
        new Insertion.Bottom('filter_fields', '<%= escape_javascript render(:partial => "filter_field") %>');
        $("filter_key_").id += index;
        $("filter_option_").id += index;
        $("filter_value_").id += index;
        update_filter_option(index);
      }
      function filter_value_options(key) {
        var opts = <%= @src_feed.filter_fields.inject({}) do |h,pair|
              h.update(pair.first => options_for_select(pair.last.map{|v|truncate(v, :length => 80)}))
            end.to_json
        %>;
        return opts[key];
      }

      function update_filter_value(index) {
        $('filter_value_' + index).value = $('filter_option_' + index).value;
      }
      function update_filter_option(index) {
        $('filter_option_' + index).innerHTML = filter_value_options($('filter_key_' + index).value);
        $('filter_value_' + index).name = $('filter_key_' + index).value;
        update_filter_value(index);
      }

    <% end %>
  </div>
<% if false %>
<% @src_feed.filter_fields.each do |k,v| %>
   <%= label_tag k %>: <%= select_tag k, options_for_select(v) %><br/>
<% end %>
<% end %>
<% if false %>
  <div>
    <%= label_tag "identifier" %> contains <%= text_field_tag "identifier", filter_params[:identifier], :size => 40 %>
  </div>
  <div>
    <%= label_tag "category" %>: <%= text_field_tag "category", filter_params[:category] %>
  </div>
<% end %>
  <button type="submit">prevew</button>
<% end %> 

<hr/>

<% form_for @filter, :html => {:onsubmit => "$('filter_submit').value=Form.serialize('filter_form');"} do |form| %>
<% if @filter.user %>
  <div>
    <%= form.label "filter creator" %> : <%= h @filter.user.name %>
  </div>
<% end %>
  <%= form.label "title" %> : <%= form.text_field "title", :size => 40 %>
<% if current_user %>
<% if @filter.new_record? %>
  <button id="filter_submit" type="submit" name="filter[params_string]">create</button>
<% elsif @filter.user == current_user %>
  <button id="filter_submit" type="submit" name="filter[params_string]">update</button>
<% else %>
  <button type="button">clone</button>
<% end %>
<% else %>
  <%= link_to @filter.new_record? ? "need login to create filters" : "need login to update the filter", new_session_path %>
<% end %>
<% end %>
<% if !@filter.new_record? && @filter.user == current_user %>
  <%= button_to "delete", filter_path(@filter), :method => "delete", :confirm => "Are you sure?" %>
<% end %>

<hr/>

<% if @src_feed %>
<div class="span-9">
  Original (<%= @src_feed.entries.size %> entries) <%= link_to image_tag("feedicons/14x14.png"), filter_params[:url] %>
  <%= render :partial => "entries", :locals => {:feed => @src_feed} %>
</div>
<% end %>

<% if @result_feed %>
<div class="span-9 last">
  Preview (<%= @result_feed.entries.size %> entries) <%= link_to image_tag("feedicons/14x14.png"), feed_path(filter_params) %>
  <%= render :partial => "entries", :locals => {:feed => @result_feed} %>
</div>
<% end %>
