<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <%= csrf_meta_tag %>
  <% if has_content_for? :title %>
    <title><%= yield :title %> - Feedkraft (prototype version)</title>
  <% else %>
    <title>Feedkraft (prototype version)</title>
  <% end %>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen, projection" />
    <%= yield :auto_discovery_links %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container span-18 no-showgrid" style="margin:0px 26px">
      <div>
        <h1><span style="font-size:2em;"><%= link_to "Feedkraft", root_path %></span> (prototype version)</h1>
        <div style="float:right">
        <% if current_user %>
          @<%= current_user.identity %>
          | <%= link_to "logout", session_path, :method => "delete" %>
        <% else %>
          <%= link_to "login", new_session_path %>
        <% end %>
        </div>
      </div>
      <hr/>
      <% flash.each do |k,v| %> 
        <p class='<%=k%>'><%=v%></p>
      <% end %>

      <%= yield %>

      <hr/>
      <div>
        <div>
          <a href="http://wiki.github.com/hiroshi/feedkraft" target="_blank">help</a> |
          <a href="http://wiki.github.com/hiroshi/feedkraft/bookmarklet" target="_blank">bookmarklet</a> |
          <a href="http://github.com/hiroshi/feedkraft/issues" target="_blank">issues</a>
          <div style="float:right">
            <a href="http://wiki.github.com/hiroshi/feedkraft" target="_blank">Feedkraft</a> <%= commit %>
            &copy;2009 <a href="http://blog.yakitara.com/" target="_blank">Hiroshi Saito</a>
            </div>
        </div>
      </div>
    </div>
    <%= render :partial => "/layouts/analytics" %>
    <%= render :partial => "/layouts/uservoice" %>
  </body>
</html>
