<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title>FeedKraft (prototype version)</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen, projection" />
  <% if @filter && !@filter.new_record? %>
    <%= auto_discovery_link_tag @result_feed.is_a?(Atom::Feed) ? :atom : :rss, feed_filter_path(@filter), :title => h(@filter.title) %>
  <% end %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container span-18 no-showgrid" style="margin:0px 1em">
      <div>
        <span style="font-size:2em;"><%= link_to "FeedKraft", root_path %></span>
        <div style="float:right">
        <% if current_user %>
          <%= current_user.name ? h(current_user.name) : link_to("please fill your name", edit_user_path(current_user)) %>
          | <%= link_to "logout", session_path, :method => "delete" %>
        <% else %>
          <%= link_to "login", new_session_path %>
        <% end %>
        </div>
      </div>
      <hr/>
      <%= flash.map{|k,v| "<p class='#{k}'>#{h(v)}</p>"} %>

      <%= yield %>

      <hr/>
      <div style="float:right"><a href="http://wiki.github.com/hiroshi/feedkraft" target="_blank">FeedKraft</a> &copy;2009 <a href="http://blog.yakitara.com/" target="_blank">Hiroshi Saito</a></div>
    </div>
    <%= render :partial => "/layouts/analytics" %>
    <%= render :partial => "/layouts/uservoice" %>
  </body>
</html>
